
 #root { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}   

.main-header-container { 
    /* text-align: center; */
    position: relative;
    left: 75%;
    font-size: 1.2rem;
    text-decoration: underline;
} 


#form { 
    grid-column-start: 1;
}

.personal-details-container { 
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    font-size: 1.2rem;
    background-color: rgb(218, 206, 206);
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    border: 5px solid black;
    width: 80%;
} 

.hide-show-content-personal-details { 
    display: flex;
    flex-direction: column;
} 

.personal-details-container > h3 { 
    text-decoration: underline;
    font-size: 1.7rem;
    font-weight: bold;
} 

.personal-details-container label { 
    font-size: 1.4rem;
} 

.personal-details-container input { 
    /* width: min(15em); */
    width: 15em;
    font-size: 1.2rem;
} 

.personal-details-btn-container button { 
    font-size: 1.2rem;
    margin: 2em;
    border-radius: 10%;
} 

.dropdown-icon-personal-details img { 
    width: 30px;
}

.education-input-container { 
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    font-size: 1.2rem;
    background-color: rgb(218, 206, 206);
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    border: 5px solid black;
    width: 80%;
} 

.hide-show-content-education-details { 
    display: flex;
    flex-direction: column;
}

.education-input-container > h3 { 
    text-decoration: underline;
    font-size: 1.7rem;
    font-weight: bold;
}

.education-input-container label { 
    font-size: 1.4rem;
}

.education-input-container input { 
    width: 15em;
    font-size: 1.2rem;
} 

.education-btns-container button { 
    font-size: 1.2rem;
    margin: 2em;
    border-radius: 10%;
}

.professional-experience-form-container { 
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    font-size: 1.2rem;
    background-color: rgb(218, 206, 206);
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    border: 5px solid black;
    width: 80%;
} 

.hide-show-content-experience { 
    display: flex;
    flex-direction: column;
}

.professional-experience-form-container > h3 { 
    text-decoration: underline;
    font-size: 1.7rem;
    font-weight: bold;
}

.professional-experience-form-container label { 
    font-size: 1.4rem;
}

.professional-experience-form-container textarea { 
    width: 20em;
    font-size: 1rem;
} 

.professional-experience-form-container input { 
    width: 15em;
    font-size: 1rem;
} 

.professional-experience-btn-containers button { 
    font-size: 1.2rem;
    margin: 2em;
    border-radius: 10%;
}

.personal-details-CV-component-container { 
    /* grid-column-start: 2; */
    /* text-align: center; */
    text-align: center;
    /* display: flex;
    justify-content: center; */
} 

.education-cv-component-container { 
    text-align: center;
}

.professional-experience-cv-component-container { 
    text-align: center;
}

