
  #root { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}  

/* .main-header-container { 
    /* grid-column-start: 1; */
    /* text-align: center; */
/* } */ 

/* .main-header { 
    text-align: right;
    font-size: 3rem;
} */ 

/* .main-header-container { 
    /* display: flex;
    justify-content: center;
    width: auto; */
    /* text-align: left;
    grid-column-start: 2;
    font-size: 1.5rem; */
/* }  */

.personal-details-container { 
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
}

.personal-details-container input { 
    width: min(15em);
    font-size: 1rem;
} 

.education-input-container { 
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
} 

.form-container { 
    grid-column-start: 1;
}

.education-input-container input { 
    width: min(15em);
    font-size: 1rem;
} 

.professional-experience-form-container { 
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
} 

.professional-experience-form-container textarea { 
    width: min(20em);
    font-size: 1rem;
} 

.professional-experience-form-container input { 
    width: min(15em);
    font-size: 1rem;
} 

.CV-component-container { 
    grid-column-start: 2;
    text-align: center;
    /* grid-row-start: 1; */
} 

.education-cv-component-container { 
    text-align: center;
}

.professional-experience-cv-component-container { 
    text-align: center;
}

